body {
    background-color: #8585bb;
    font-family: Arial;
    color: white;
}

/* TOPO */
.topo {
    text-align: center;
    background-color: #353563;
    padding: 10px;
    border-bottom: 4px solid #22224f;
    text-shadow: 2px 2px black;
}

/* CONTEÚDO */
.conteudo {
    background-color: #a2a2ff;
    margin: 30px;
    padding: 20px;
    border: 3px solid #3737a6;
    box-shadow: 5px 5px 0px #3737a6;
}

.titulo-loja {
    color: #ffffcc;
     text-shadow: 2px 2px black;
}

.endereco {
    color: #ffffcc;
}

.horario {
    color: #ffffcc;
}

/* MAPA */
.mapa {
    margin-top: 20px;
}

/* HOME */
.home-btn {
    position: fixed;
    top: 10px;
    right: 10px;
}

.home-btn img {
    width: 40px;
    padding: 5px;
    transition: all 0.2s;
}

/* QUANDO PASSA O MOUSE */
.home-btn:hover img {
    transform: scale(1.2);
}

/* Tooltip estilo Windows XP */
.home-btn {
  position: fixed;
  top: 10px;
  right: 10px;
}

.tooltip {
  position: absolute;
  top: 50px;
  right: 0;

  background: #ffffcc;
  color: black;
  border: 1px solid #000;
  padding: 3px 6px;
  font-size: 12px;

  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.2s;

  pointer-events: none;
}

.home-btn:hover .tooltip {
  opacity: 1;
}

/* RODAPÉ */
.rodape {
    margin-top: 30px;
    background-color: #3f3f72;
    padding: 10px;
}